@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.header{
    display:flex;
    flex-direction:row;
padding-bottom:10px;
}
.icons{
    display:flex;
    flex-direction:row;
 align-items:flex-start;
 justify-content:space-between;
 width:100%;
 margin-top:10px;
 
}
 #call{
   
 
    margin-top:15px;
    margin-left:20px;
}
#cross{
   
    margin-top:5px;
    margin-right:20px;
    cursor:pointer;
} 