@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.AlertPopup{
    width:400px;
    /* height:320px; */
 background-image:url('../assets/svglink1.svg');
 background-repeat: no-repeat;
    border-radius:12px;
}
/* .section{
    display:flex;
    flex-direction:column;

    width:352px;
    margin-left:5px;
   gap:4px;
   margin-bottom:10px;
    
} */
/* .section-heading{
    width:352px;
    height:28px;
   margin-bottom:15px;
   
} */
 .AlertPopupHeader{
      width:352px;
 padding:0;
   /* margin-bottom:20px; */
    font-weight: 600;
    font-size:18px;
    line-height: 28px;
    color:#101828;
    font-family:'Inter';

}
/* .section-subhead{
    width:352px;
    
} */

 .AlertPopupBody{
    padding:0;
    font-weight: 400;
    font-size:14px;
    line-height: 20px;
    color:#475467;
  font-family:'Inter';
    
}
.section{
    padding-left:22px;
    display:flex;
    flex-direction:column;
    gap:8px;
}
.upper-part{
    width:400px;
   

}
 .phone_foot{
   
    /* margin-top:70px; */
    width:400px;
    display:flex;
    flex-direction:column;
    align-items: center;
    

    /* justify-content:center; */
  
 } 

.AlertPopupFooter button{
   width:170px;
   height:44px;
   /* box-shadow:0px 1px 2px 0px #1018280D; */
 

   
}

.AlertPopupFooter{
    width:400px;
    /* height:68px; */
   
justify-content:center;
padding-top:24px;
padding-bottom:24px;
}
#cancel-btn{
    font-weight:600;
font-size:16px;
line-height: 24px;
    color: #344054;
    border:1px solid #D0D5DD;
    box-shadow:0px 1px 2px 0px #1018280D;
    border-radius:8px;
}
#okay-btn{
    box-shadow:0px 1px 2px 0px #1018280D;
    font-weight:600;
    font-size:16px;
    line-height: 24px;
}